@model List<StudentManagementSystem.Entities.Course>
@{
    ViewData["Title"] = "Kurslar";
}
<h2>Kurslar</h2>
<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Id</th>
            <th>Ad</th>
            <th>Saat</th>
            <th>Açıqlama</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].Id</td>
                <td>@Model[i].Name</td>
                <td>@Model[i].Clock</td>
                <td>@Model[i].Description</td>
                <td>
                    <a asp-controller="course" asp-action="delete" asp-route-id="@Model[i].Id" class="btn btn-danger" onclick="return confirm('Silmək istəyirsiniz?')">Sil</a>
                    <a asp-controller="course" asp-action="update" asp-route-id="@Model[i].Id" class="btn btn-success">Yenilə</a>
                    <a asp-controller="course" asp-action="getstudent" asp-route-courseId="@Model[i].Id" class="btn btn-check" style="color: black; border: 2px solid #04AA6D;">Tələbələr</a>
                    <a asp-controller="course" asp-action="addstudent" asp-route-id="@Model[i].Id" class="btn btn-check" style="color: black; border: 2px solid #04AA6D;">Tələbə əlavə et</a>
                </td>

            </tr>
        }


    </tbody>
</table>